body{
    display: grid;
    grid-template-columns:repeat(3, 1fr) ;
    grid-template-rows: repeat(6, 100px);
    grid-gap: 20px;
}
div{
    background-color: rgb(254, 254, 254);
    color: rgb(0, 0, 0);
    text-align: center;
}
.logo{
  grid-column: 1/2; 
  border: 1px solid black;
}
.reklamoketu{
    grid-column: 1/4;
    border: 1px solid black;
}
.footer{
    grid-column: 1/4;
}
.navbar{
    grid-column: 2/4;
    border: 1px solid black;
}
.childbox1, .childbox2, .childbox3{
    border: 1px solid black;
}
.artikulli{
    grid-column: 1/3;
    border: 1px solid black;
}
.aside{
  border: 1px solid black;  
  grid-row: 4/6;
  grid-column: 3/4;
}
.picture{
    border: 1px solid black;
    grid-column: 1/3;
}
.footer{
    border: 1px solid black;
}